@use "../../scss/mixins/window-classes";
.search{
  box-sizing: content-box;
  display: grid;
  grid-template-columns: 400px 300px;
  grid-template-rows: 1fr;
  gap: 10px;
  padding: var(--content-padding);
   @include window-classes.on-medium{
    grid-template-columns: repeat(2, 1fr);
  }
  @include window-classes.on-compact{
      grid-template-columns: 1fr;
      place-items: center;

      padding : 30px 0 0 0 ;
  }
  &__input{
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    @include window-classes.on-compact{
      width: 70%;
    }
  }
  &__button {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
    width: 30%;
    @include window-classes.on-medium{
      width: 50%;
    }
    @include window-classes.on-compact{
      width: 75%;
    }
  }
}




